* {
    background: black;
    margin: 0;
    padding: 0;
    color: white;
}

#set-list {
    list-style: square;
}

#set-list li {
    display: inline;
    margin-left: 20px;
}

video {
    margin: 60px 25%;
}

#displays {
    margin: 50px 0px;
}

.display canvas {
    padding: 10px;
}

canvas {
    display: block;
    margin: 0 auto;
}

.display {
    float: left;
    width: 45%;
    padding: 1%;
}

.display:nth-child(n + 2) {
    border-left: solid 5px white;
}
.display time {
    color: yellow;
    position: relative;
    bottom: 30px;
    left: 90%;
}